<div class="user-show-page">
  <div class="user-container">
    <h1 class="user-container-title">Account Information</h1>
    <div class="userprofilepic">
      <%= image_tag("#{@user.profile_photo.default}") %>
    </div>
    <div class="useremail-container">
      <%= @user.email %>
    </div>
    <div class="username-container">
      <%= @user.username %>
    </div>
    <div class="edit-account-link-container">
      <%= link_to "Edit Account Information", edit_user_registration_path %>
    </div>
  </div>

  <div class="favorites-container">
    <h1>Favorite Trips</h1>
    <% @favorites.each do |favorite| %>

      <form method="post" action="/trips/#{favorite.trip_id}">
        <input type="submit" value="Favorite" />
      </form>

      <% favorite.places.each do |place| %>
        <div class="favorite-trip">

          <%= place.name %>

        </div>
      <% end %>

    <% end %>
  </div>
</div>