<div class="user-show-page">
  <div class="user-container">
    <h1>Account Information</h1>
    <div class="userprofilepic">
      <%= image_tag("#{@user.profile_photo.default}") %>
    </div>
    <div class="userinfo-container">
      <%= @user.email %>
    </div>
    <div class="userinfo-container">
      <%= @user.username %>
    </div>
    <div class="edit-account-link-container">
      <%= link_to "Edit Account Information", edit_user_registration_path %>
    </div>
  </div>

  <div class="favorites-container-parent">
    <h1>Favorite Trips</h1>
    <% @favorites.each do |favorite| %>
      <div class="favorites-container">
        <%= link_to "Remove Favorite", favorite_trip_path(id: current_user.id, trip_id: favorite.trip_id), method: :delete %>

        <% favorite.places.each do |place| %>
          <div class="favorite-trip">
  
            <%= place.name %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>