<!DOCTYPE html>
<html>
  <head>
    <title>triply | Let's plan your trip!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.7.1/css/all.css>
  </head>

  <div class="navbar">
    <div id="logo-navbar">
      <a href='/'>
        triply
        <i id="icon" class="fas fa-map-pin"></i>
      </a>
    </div>
    <% if signed_in? %>
      <div class="dropdown">
        <%= image_tag(current_user.profile_photo.thumb.url, id: "profile-pic-nav-bar") %>
        <div class="dropdown-content">
          <%= link_to "My Account", user_path(current_user.id) %>
          <%= link_to "Settings", edit_user_registration_path %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="sign-in-div">
        <button class="sign-in">
          <%= link_to "Sign In", new_user_session_path %>
        </button>
      </div>
    <% end %>
  </div>

  <hr class="solid">

  <body>
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <div class="flash-message">
          <%= value %>
        </div>
      </div>
    <%- end -%>

    <div class="main-content">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    
    <%- if Rails.env.development? || Rails.env.test? -%> 
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>

    <%= javascript_pack_tag 'application' %>
  </body>
  
  <div class="wrapper">
    <div class="push">
    </div>
  </div>
  <div id="footer" class="footer">
    <a href='/about'>About</a>
  </div>

</html>
